header {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkgreen;
}

body {
  background-color: beige;
}

.computerDeck {
  display: flex;
}

.userDeck {
  display: flex;
}
footer {
  color: white;
  height: 2vh;
  background-color: black;
}

button {
  display: flex;

  background-color: purple;
}

.userField {
  background-color: red;
}

.card {
  display: flex;
  flex-direction: column;
  width: 300px;
}
